#footer > p:first-child {
    float: left;
    text-align: left;
    background-color: #131921;
    color: white;
    width: 33.3%; }

#footer > p:nth-child(2) {
    float: left;
    text-align: left;
    background-color: #131921;
    color: white;
    width: 33.4%; }

#footer > p:last-child {
    float: right;
    text-align: left;
    background-color: #131921;
    color: white;
    width: 33.3%; }